.gpt3__possibility {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.gpt3__possibility_img-section {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gpt3__possibility_img-section img {
    width: 80%;
}

.gpt3__possibility_text-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8px;
    max-width: 460px;
}

.gpt3__possibility_text-section h4 {
    color: #71E5FF;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    margin: 1rem 0;
}

.gpt3__possibility_text-section h1 {
    font-family: var(--font-family);
    font-size: 34px;
    font-weight: 800;
    line-height: 45px;
}

.gpt3__possibility_text-section p {
    color: #81AFDD;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.gpt3__possibility_text-section h5 {
    color: #FF8A71;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
}

@media screen and (max-width: 950px) {
    .gpt3__possibility{
        flex-direction: column;
        align-items: flex-start;
    }

    .gpt3__possibility_text-section{
        margin-top: 1rem;
    }
}

@media screen and (max-width: 550px) {

    .gpt3__possibility_img-section img{
        width: 100%;
    }

    .gpt3__possibility_text-section h1 {
        font-size: 26px;
        line-height: 36px;
    }

    .gpt3__possibility_text-section h5 {
        font-size: 14px;
        line-height: 22px;
    }

    .gpt3__possibility_text-section h4 {
        font-size: 14px;
        line-height: 22px;
    }

    .gpt3__possibility_text-section p {
        font-size: 12px;
        line-height: 20px;
    }
}